<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Ta Te Ti Mailu</span>

  <span style="padding-left: 20px" *ngIf="salasSvc.salaSeleccionada$ | async as sala">Sala ({{ sala.codigo }})</span>

  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<!--
<mat-drawer-container autosize>
  <mat-drawer #drawer class="sidenav-bar" mode="side" [opened]="true">
    <button mat-raised-button (click)="salasSvc.crearSala()">CREAR SALA</button>

    <ng-container *ngIf="salasSvc.salas$ | async as salas">
      <mat-list>
        <mat-list-item *ngFor="let sala of salas" (click)="salasSvc.seleccionarSala(sala)">{{ sala.codigo }}</mat-list-item>
      </mat-list>
    </ng-container>
  </mat-drawer>

  <div>
    <div id="container" fxLayout="row">
      <div fxFlex="20"></div>
      <div fxFlex>
          <app-board></app-board>
      </div>
      <div fxFlex="20"></div>
    </div>
  </div>
</mat-drawer-container>
-->

<div id="container" fxLayout="row" fxFlexAlign="streched">
  <div fxFlex="20">
    <mat-card style="margin: 6px">
      <button mat-raised-button (click)="salasSvc.crearSala()">CREAR SALA</button>

      <ng-container *ngIf="salasSvc.salas$ | async as salas">
        <mat-list>
          <mat-list-item *ngFor="let sala of salas" (click)="salasSvc.seleccionarSala(sala)">{{ sala.codigo }}</mat-list-item>
        </mat-list>
      </ng-container>
    </mat-card>
  </div>
  <div fxFlex="80">
    <div fxLayout="row">
      <div fxFlex="20"></div>
      <div fxFlex>
        <app-board *ngIf="salasSvc.salaSeleccionada$ | async"></app-board>
      </div>
      <div fxFlex="20"></div>
    </div>
  </div>
</div>
